# dockerwatcher in Watcher and Notification Mode + redis

version: "3"
services:
  dockerwatcher:
    build: .
    env_file:
    - .env
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    networks:
    - dockerwatcher
  redis:
    image: redis:7-alpine
    container_name: dockerwatcher-redis
    networks:
    - dockerwatcher

networks:
  dockerwatcher:
